.scheduled-1 {
    top: 161px;
    left: 277px;
    width: 237px;
    height: 108px;
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8e4b814d;
    border-radius: 7px;
    opacity: 1;
    display: flex;
}

.btn-icons {
    margin-left: 10px;
    margin-top: 27px;
    top: 188px;
    left: 287px;
    width: 55px;
    height: 54px;
}

.div-btn {
    margin-top: 26px;
    margin-left: 50px;
    top: 187px;
    left: 392px;
    width: 63px;
    height: 57px;
    display: grid;
}

.btn-title {
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: -0.03px;
    color: #444444;
    opacity: 1;
    top: 187px;
    left: 392px;
    display: inline-block;
}

.btn-data {
    /* margin-left: 50px;
    margin-top: 38px; */
    text-align: left;
    font: normal normal bold 32px/39px Lato;
    letter-spacing: 1.09px;
    color: #444444;
    opacity: 1;
}

.scheduled-2 {
    top: 161px;
    left: 544px;
    width: 237px;
    height: 108px;
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8e4b814d;
    border-radius: 7px;
    opacity: 1;
    display: flex;
}

.btn-title {
    text-align: left;
    font: normal normal normal 16px/19px 'Lato';
    letter-spacing: -0.03px;
    color: #444444;
    opacity: 1;
    top: 187px;
    left: 392px;
    display: block;
}

.scheduled-3 {
    top: 161px;
    left: 811px;
    width: 237px;
    height: 108px;
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8e4b814d;
    border-radius: 7px;
    opacity: 1;
    display: flex;
}

.scheduled-4 {
    top: 161px;
    left: 1078px;
    width: 237px;
    height: 108px;
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8e4b814d;
    border-radius: 7px;
    opacity: 1;
    display: flex;
}

.scheduled-5 {
    top: 161px;
    left: 1345px;
    width: 237px;
    height: 108px;
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8e4b814d;
    border-radius: 7px;
    opacity: 1;
    display: flex;
}

.scheduled-6 {
    top: 161px;
    left: 1612px;
    width: 237px;
    height: 108px;
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #8e4b814d;
    border-radius: 7px;
    opacity: 1;
    display: flex;
}

.details{
    /* top: 343px; */
    top: auto;
    left: 277px;
    width: 1572px;
    height: 707px;
    margin-top: 250px;
    margin-left: -40px;
    margin-bottom: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #8F4B804D;
    border-radius: 8px;
    opacity: 1;
}

.items{
    list-style: none;
    padding-left: 50px;
}

.items li{
    display: inline-block;
    padding-left: 50px;
    margin-top: 50px;
    font-weight: 600;
    color: var(--unnamed-color-444444);
    text-align: center;
    font: normal normal normal 22px/27px Lato;
    letter-spacing: -0.04px;
    color: #444444;
    opacity: 1;
    border: 0.5px solid gray;
}

.items li:nth-child(1){
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.items li:nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.items li:nth-child(3){
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.items li button{
    border: none;
    color: #444444;
    background-color: white;
}

.items li button::after{
    color: #40006D;
}

.sidebar {
    /* top: 0px;
    left: 0px; */
    width: 63px;
    height: 1080px;
    background: transparent linear-gradient(360deg, #94007d 0%, #250068 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    animation-name: example1;
    animation-duration: 0.3s;
    position: relative;
}

.sidebar-extend {
    /* top: 0px;
    left: 0px; */
    width: 206px;
    height: 1080px;
    background: transparent linear-gradient(360deg, #94007d 0%, #250068 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    animation-name: example2;
    animation-duration: 0.3s;
    position: relative;
}

.side-div {
    top: 46px;
    left: 24px;
    width: 18px;
    height: 372px;
    /* border: 2px solid #ebc3f6; */
    opacity: 1;
    position: absolute;
    /* cursor: pointer; */
}

.side-icon {
    width: 22px;
    height: 22px;
    margin-top: 46px;
    cursor: pointer;
}

#menubtn {
    width: 24px;
    height: 24px;
}

.side-nav {
    left: 63px;
    top: 120px;
    display: grid;
    position: absolute;
    animation-name: popup;
    animation-duration: 1s;
    /* background-color: #ffffff; */
}

.side-nav-title {
    margin-bottom: 45px;
    text-align: left;
    font: normal normal normal 22px/27px Lato;
    letter-spacing: 0px;
    color: #ebc3f6;
    opacity: 1;
}