.Alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    bottom: 20%;
}

.image{
    height: 600px;
    width: 650px;
    background-color: purple;
    border: 1px solid #250068;
    opacity: 0.52;
    transform: matrix(0,1,-1,0,0,0);
}

.login-box{
    height: 450px;
    width: 500px;
    border-radius: 5px;
    padding-left: 2px;
    padding-top: 5px;
    box-shadow: 0 0 10px #C740A94D;
    position: relative;
    text-align: center;
    display: flex;
    margin-top: 5px;
    margin-right: 20px;
}

.Logo-Brand{
    width: 9em;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}

.Login-button{
    background-color: #f307c0;
    color: white;
    margin: 4px 2px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

input[type="submit"]::placeholder{
    padding: 6px;
    text-align: center;
    font-weight: normal;
    font: normal normal normal 17px/21px 'Lato';
    font-size: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

input[type="text"]::placeholder{
    padding: 10px;
    font: normal normal normal 17px/21px 'Lato';
    font-weight: normal;
    font-size: 17px;
    color: #292929;
    opacity: 0.35;
    letter-spacing: normal;
}

input[type="password"]::placeholder{
    padding: 10px;
    font: normal normal normal 17px/21px 'Lato';
    font-weight: normal;
    font-size: 17px;
    color: #292929;
    opacity: 0.35;
    text-align: left;
}

input[type="text"]{
    padding: 10px;
}

input[type="password"]{
    padding: 10px;
}

.forgot{
    margin: 10px 0px 0px 200px;
    font-size: 12px;
    padding: 0px;
    color: pink;
    text-align: right;
    margin: 0 60px;
}

.forgot:link{
    color: #444444;
    background-color: transparent;
}

.a:link{
    color: #444444;
    background-color: transparent;
}

a:visited{
    color: #444444;
    background-color: transparent;
}

a:hover{
    color: #444444;
    background-color: transparent;
}

.welcome{
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
    font-weight: normal;
    font-size: 30px;
    color: #444444;
    letter-spacing: 0px;
    font: normal normal normal 30px/36px 'Lato';
    opacity: 1;
    margin-top: 10px;
    letter-spacing: 0px;
}

.Login-button{
    background-color: pink;
    color: white;
    height: 40px;
    width: 360px;
    border-style:solid;
    background: #C740A9 0% 0% no-repeat padding-box;
    border-width: 2px;
    margin-top: 10px;
    margin: 20px 70px;
}

.Login-button:hover{
    background-color: purple;
    transition: .5s;
}

.input-text{
    border-radius: 4px;
    width: 360px;
    height: 40px;
    border: 1px solid #C740A9;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: block;
    margin: 0 auto;
    font-family: 'Lato';
    margin-top: 20px;
}

.input-text:hover{
    background-color: #C740A9;
    transition: .5s;
    color: white;
}

.input-pas{
    border-radius: 4px;
    font-family: lato;
    width: 360px;
    height: 40px;
    border: 1px solid #C740A9;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.input-pas:hover{
    background-color: #C740A9;
    transition: .5s;
    color: white;
}

.new-user{
    /* margin: 20px 150px 0px 5px; */
    font-size: 12px;
    margin: 0px 80px;
}

.forgot{
    margin: 0 95px;
    color: #C740A9;
}

.form-div{
    align-items: center;
}

.dropdown{
    display: block;
    margin: 0 70px;
    width: 360px;
    height: 40px;
    border: 1px solid #C740A9;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    color: gray;
}

.dropdown:hover{
    transition: .5s;
}

select::placeholder{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal normal normal 17px/21px 'Lato';
    padding: 10px;
    opacity: 0.35;
}