* {
    margin: 0;
    /* overflow: hidden; */
}
.header {
    display: flex;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 100px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #93007d4f;
    opacity: 1;
}

.header .logo {
    top: 17px;
    left: 100px;
    width: 171px;
    height: 67px;
    opacity: 1;
    position: absolute;
}

.title {
    top: 33px;
    position: absolute;
    left: 798px;
    width: 324px;
    height: 48px;
    text-align: center;
    font: normal normal normal 40px/48px Lato;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.header .inner-div {
    top: 45px;
    left: 1563px;
    width: 265px;
    height: 25px;
    opacity: 1;
    position: absolute;
    justify-content: space-around;
    display: flex;
}

.welcome-text {
    top: 48px;
    left: 1596px;
    width: 65px;
    height: 18px;
    text-align: left;
    /* position: sticky; */
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0.51px;
    color: #444444;
    opacity: 1;
}

.icon-notification {
    top: 48px;
    left: 1563px;
    width: 17px;
    height: 20px;
    opacity: 1;
    /* position: sticky; */
}

.doc-name {
    top: 48px;
    left: 1702px;
    width: 99px;
    height: 18px;
    /* position: sticky; */
    text-align: left;
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0.51px;
    color: #444444;
    opacity: 1;
}

.icon-profile {
    top: 45px;
    left: 1667px;
    width: 25px;
    height: 25px;
    /* position: sticky; */
    opacity: 1;
}

.header .icon-arrow {
    top: 57px;
    left: 1820px;
    width: 8px;
    height: 6px;
    opacity: 1;
    position: sticky;
}