.table-box{
    padding-left: 50px;
}

thead tr th{
    padding: 20px;
    color: var(--unnamed-color-444444);
    text-align: left;
    border-bottom: 1px solid #00000029;
    font: normal normal bold 22px/27px 'Lato';
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

thead tr th:nth-child(1){
    padding-right: 50px;
}

thead tr th:nth-child(2){
    padding-right: 100px;
}

thead tr th:nth-child(3){
    padding-right: 200px;
}

thead tr th:nth-child(4){
    padding-right: 200px;
}

thead tr th:nth-child(5){
    padding-right: 100px;
}

thead tr th:nth-child(6){
    padding-right: 130px;
}

tbody tr td{
    padding: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #00000029;
    font: normal normal normal 22px/27px 'Lato';
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}