.table-box{
    padding-left: 30px;
}

thead tr th{
    padding: 20px;
    color: var(--unnamed-color-444444);
    text-align: left;
    font: normal normal bold 22px/27px 'Lato';
    letter-spacing: 0px;
    border-bottom: 1px solid #00000029;
    color: #444444;
    opacity: 1;
}

thead tr th:nth-child(1){
    padding-right: 100px;
}

thead tr th:nth-child(2){
    padding-right: 300px;
}

thead tr th:nth-child(3){
    padding-right: 150px;
}

thead tr th:nth-child(4){
    padding-right: 200px;
}

thead tr th:nth-child(5){
    padding-right: 200px;
}

thead tr th:nth-child(6){
    padding-right: 200px;
}

tbody tr td{
    padding: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #00000029;
    font: normal normal normal 22px/27px 'Lato';
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

tbody tr td button{
    background: var(--unnamed-color-c740a9) 0% 0% no-repeat padding-box;
    background: #C740A9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    padding: 5px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.add-doctor{
    float: right;
    margin-top: 20px;
    margin-right: 260px;
}

.add-doctor button{
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--unnamed-color-c740a9) 0% 0% no-repeat padding-box;
    background: #C740A9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

.file-upload{
    margin-bottom: 10px;
}