.image{
    background: transparent url('logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 580px;
}

.reset-box{
    padding-top: 10px;
    padding-bottom: 80px;
    margin-top: 100px;
    margin-bottom: 10px;
    height: 400px;
    width: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #C740A94D;
    border-radius: 8px;
    align-items: center;
    opacity: 1;
}

.mail-details{
    margin: 10px 70px;
    display: block;
}

.reset{
    margin-top: 100px;
    text-align: center;
    font: normal normal normal 30px/36px 'Lato';
    font-weight: bolder;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.mail-text{
    border-radius: 4px;
    width: 360px;
    height: 40px;
    border: 1px solid #C740A9;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Lato';
    margin-top: 20px;
}

.mail-text::placeholder{
    text-align: left;
    font: normal normal normal 17px/21px 'Lato';
    letter-spacing: 0px;
    color: #292929;
    opacity: 0.35;
}

.mail-text:hover{
    background-color: #C740A9;
    transition: .5s;
    color: white;
}